.hide {
    display: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s; /* Optional delay to adjust timing */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
